div[class~="language-origami"]:before
    content: 'origami'

.CodeMirror pre
    line-height: inherit !important
    padding: 0 !important
    margin: 0 !important
    background: transparent !important
    border-radius: 0 !important